{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container col-md-7">
            <div class="bg-light p-4 p-md-7 contact-form">
                {{ form_start(form) }}
                <h2 class="form-title">Ajouter un hotel</h2>
                <div class="form-group">
                    {{ form_row(form.titre) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.ville) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.coverImage) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.site) }}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="btn-primary" value="Ajouter"/>
                </div>
                {{  form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}