{% extends 'base.html.twig' %}

{% block title %}Nos magnifique annonces{% endblock %}

{% block body %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-4">
                    <h1 class="mb-3 bread">Trouvez votre site touristique</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Acceuil <i class="ion-ios-arrow-forward"></i></a></span> <span>Site <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        {% set destinations = pagination.data %}
                        {% if destinations != null  %}
                            {% for destination in destinations %}
                                {% for site in destination.siteTouristiques %}
                                    <div class="col-md-6 col-lg-4 ftco-animate">
                                    <div class="project">
                                        <div class="img imgParent">
                                            <a href="{{ path('site_show', {'id':site.id}) }}"><img src="{{ site.photo }}" class="img-fluid" alt="Colorlib Template"></a>
                                        </div>
                                        <div class="text">
                                            <h4 class="price"><span class="old-price mr-2">{% if site.ancienPrix != 0 %}${{ site.ancienPrix }}  {% endif %}</span>${{ site.prix }}</h4>
                                            <span>{{ site.destination.destination }}</span>
                                            <h3>
                                                <a href="{{ path('site_show', {'id':site.id}) }}">{{ site.titre }}</a>
                                                {% if app.user %}
                                                    <a href="{{ path('site_editor', {'id':site.id}) }}"><i class="material-icons">&#xe3c9;</i></i></a>
                                                    <a href="{{ path('site_delete', {'id':site.id}) }}" onclick="return confirm(`Voulez-vous vraiment supprimer cet site touristique !`)"><i class="material-icons">&#xe872;</i></a>
                                                {% endif %}
                                            </h3>
                                            <div class="star d-flex clearfix">
                                                <div class="mr-auto float-left">
                                                    <span class="ion-ios-star"></span>
                                                    <span class="ion-ios-star"></span>
                                                    <span class="ion-ios-star"></span>
                                                    <span class="ion-ios-star"></span>
                                                    <span class="ion-ios-star"></span>
                                                </div>
                                                <div class="float-right">
                                                    <span class="rate"><a href="#">(120)</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="images/hotel-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                                            <span class="icon-expand"></span>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div> <!-- end -->
            </div>
        </div>
    </section>

    {% if pagination != null %}
        {% include '/partials/pagination.html.twig' with {'chemin': 'site_index'} %}
    {% endif %}

{% endblock %}
