{% extends 'base.html.twig' %}

{% block title %}Les employés!{% endblock %}

{% block body %}

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Votre Agence Sur Place</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('homepage') }}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Les employés</h2>
                </div>
            </div>
            <div class="row d-flex">
                {% set users = pagination.data%}
                {% for user in users %}
                    <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="{{ path('user_show', {'slug':user.slug}) }}" class="block-20" style="background-image: url({{ user.photo }});">
                        </a>
                        <div class="text mt-3 float-right d-block">
                            <div class="d-flex align-items-center mb-4 topp">
                                <div class="two">
                                    <span class="mos">{{ user.profession }}</span>
                                </div>
                            </div>
                            <h2 class="heading"><a href="{{ path('user_show', {'slug':user.slug}) }}">{{ user.prenom }} {{ user.nom }}</a></h2>
                            <p>{{ user.introduction }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% if pagination != null %}
        {% include '/partials/pagination.html.twig' with {'chemin': 'destination_index'} %}
    {% endif %}


{% endblock %}
